.wish_box {
    border: 2px var(--greyColor) solid;
    border-radius: var(--roundedLG);
    padding: var(--spaceMD);
    margin-bottom: var(--spaceXLG);
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: var(--blackColor);
}
.wish_box:hover {
    border: 2px var(--primaryColor) solid;
    transform: rotate(-2deg);
}
.wish_img {
    border-radius: var(--roundedLG);
    height: 250px;
    width: 250px;
    margin-inline: auto;
    display: block;
}
.wish_box p {
    color: var(--whiteColor);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}