.btn {
    border: none !important;
}
.btn-tag, .btn-info {
    padding: var(--spaceXSM) var(--spaceSM);
    margin-right: var(--spaceXXSM);
    border-radius: var(--roundedJumbo);
    font-weight: 500 !important;
}
.btn-primary, .btn-link {
    padding: var(--spaceXMD) var(--spaceXLG);
    margin-right: var(--spaceXXSM);
    border-radius: var(--roundedJumbo);
    font-weight: 600 !important;
    font-size: var(--textXLG);
}
.btn-primary:hover, .btn-link:hover {
    transform: scale(1.05) !important;
}
.btn-primary, .btn-link, .btn-tag, .btn-info {
    text-decoration: none;
    color: var(--whiteColor);
    cursor: pointer;
}
.btn-tag {
    background: var(--infoBG);
}
.btn-info {
    background: var(--infoBG);
}
.btn-primary {
    background: var(--primaryColor);
}
.btn-link {
    color: var(--primaryColor);
    background: var(--whiteColor);
}
.dropdown-toggle {
    font-size: var(--textLG) !important;
    border-radius: var(--roundedMD) !important;
    padding: var(--spaceMD) var(--spaceXMD) !important;
}
.dropdown-menu {
    border-radius: var(--roundedMD) !important;
    margin-top: var(--spaceSM) !important;
    padding: var(--spaceSM) !important;
    background: var(--darkColor) !important;
    border: 0 !important;
}
.dropdown-item {
    color: var(--whiteColor) !important;
    border-radius: var(--roundedSM) !important;
    padding: var(--spaceSM) !important;
}
.dropdown-item:hover {
    color: var(--darkColor) !important;
    background: var(--primaryColor) !important;
}