.btn {
    border: none !important;
}
.btn-tag, .btn-info {
    padding: var(--spaceXSM) var(--spaceSM);
    margin-right: var(--spaceXXSM);
    border-radius: var(--roundedJumbo);
    font-weight: 500 !important;
}
.btn-primary, .btn-link {
    background: var(--primaryColor);
}
.btn-danger {
    background: var(--dangerBG);
}
.btn-warning {
    background: var(--warningBG);
}      
.btn-success {
    background: var(--successBG);
}
.btn-primary, .btn-link, .btn-danger, .btn-warning, .btn-success {
    transform: scale(1.05) !important;
    padding: var(--spaceXMD) var(--spaceXLG);
    margin-right: var(--spaceMD);
    border-radius: var(--roundedJumbo);
    font-weight: 600 !important;
    font-size: var(--textXLG);
}
.btn-primary:hover, .btn-link:hover, .btn-danger:hover {
    transform: scale(1.05) !important;
}
.btn-primary, .btn-link, .btn-tag, .btn-info, .btn-danger, .btn-warning {
    text-decoration: none;
    color: var(--whiteColor);
    cursor: pointer;
}
.btn-tag {
    background: var(--infoBG);
}
.btn-info {
    background: var(--infoBG);
}
.btn-primary {
    background: var(--primaryColor);
}
.btn-link {
    color: var(--primaryColor);
    background: var(--whiteColor);
}
.btn-custom-icon {
    width: 100%;
    padding: var(--spaceLG);
    background: var(--warningLightBG);
    border-radius: var(--roundedJumbo);
    display: flex !important;
    justify-content: start !important;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-custom-icon:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-custom-icon img {
    width: 100px;
}

.dropdown-toggle {
    font-size: var(--textLG) !important;
    border-radius: var(--roundedMD) !important;
    padding: var(--spaceMD) var(--spaceXMD) !important;
}
.dropdown-menu {
    border-radius: var(--roundedMD) !important;
    margin-top: var(--spaceSM) !important;
    padding: var(--spaceSM) !important;
    background: var(--darkColor) !important;
    border: 0 !important;
}
.dropdown-item {
    color: var(--whiteColor) !important;
    border-radius: var(--roundedSM) !important;
    padding: var(--spaceSM) !important;
}
.dropdown-item:hover {
    color: var(--darkColor) !important;
    background: var(--primaryColor) !important;
}