:root {   
  /* Typography */
  --textHuge : 78px;
  --textXJumbo : 48px;
  --textJumbo : 26px;
  --textXLG : 18px;
  --textLG : 16px;
  --textXMD : 14px;
  --textMD : 13px;
  --textSM : 12px;
  --textXSM : 11px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedJumbo : 34px;
  --roundedXLG : 20px;
  --roundedLG : 18px;
  --roundedMD : 14px;
  --roundedSM : 10px;
  --roundedMini : 6px;

  /* Spacing */
  --spaceJumbo : 35px;
  --spaceXLG : 24px;
  --spaceLG : 20px;
  --spaceXMD : 16px;
  --spaceMD : 12px;
  --spaceSM : 10px;
  --spaceXSM : 8px;
  --spaceXXSM : 6px;
  --spaceMini : 4px;

  /* Table column min width */
  --tcolMinXSM : 60px;
  --tcolMinSM : 120px;
  --tcolMinMD : 140px;
  --tcolMinLG : 180px;
  --tcolMinJumbo : 240px;
  --tcolMinHuge : 360px;

  /* Color Pallete */
  /* --primaryLightBG : #DEF8D6;
  --successBG : #3D9B52;
  --successDarkBG : #009B56;
  --warningBG : #FF0063;
  --warningDarkBG : #c6044e;
  --infoBG : #006CD0;
  --infoLightBG : #2e3439;
  --hoverBG : #F2F2F2;

  --primaryColor : #f9aa0c;
  --blackColor : #212121;
  --darkColor : #5B5B5B;
  --whiteColor : #FFFFFF;
  --greyColor : #C3C3C3;
  --shadowColor : #808080; */

  --primaryLightBG : #a698cd;
  --successBG : #009b77;
  --successDarkBG : #68baa6;
  --dangerBG : #ff5791;
  --warningBG : #ff8b68;
  --warningDarkBG : #ffc455;
  --infoBG : #0074f6;
  --infoLightBG : #0087f0;
  --hoverBG : #F2F2F2;

  --primaryColor : #6856e1;
  --blackColor : #212121;
  --darkColor : #494454;
  --whiteColor : #FFFFFF;
  --greyColor : #fcf7ff;
  --shadowColor : #f7ebff;
}
body {
  background: var(--blackColor) !important;
  font-family: 'Poppins', 'Lexend', sans-serif !important;
}
.content-grid {
  margin-inline: auto;
}
.grid-item {
  margin-bottom: var(--spaceLG);
}
.img-profile {
  border-radius: var(--roundedCircle);
  margin-top: var(--spaceLG);
  border: var(--spaceXSM) solid var(--primaryColor);
}
.bg-secondary {
  background: var(--darkColor) !important;
}
.bg-primary {
  background: var(--primaryColor) !important;
}

a {
  text-decoration: none !important;
}
.fc-scrollgrid-sync-inner a {
  color: var(--whiteColor);
}

.modal-content {
  border-radius: var(--roundedLG) !important;
  background: var(--blackColor) !important;
}

/* Profile */
.profile-card {
  padding: var(--spaceLG);
  margin: calc(var(--spaceJumbo) * 2) 0;
  background: var(--darkColor);
  border: 3px solid var(--whiteColor);
  max-width: 720px;
  display: block;
  margin-inline: auto;
  border-radius: var(--roundedMD);
  overflow: hidden;
	box-shadow: var(--primaryColor) 0px 7px 17.5px !important;
	transform: translatey(0px);
  rotate: -1.5deg;
	animation: float 4.5s ease-in-out infinite;
  box-sizing: border-box;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.profile-card h3{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* Fullcalendar */
.fc-event-title-container, .fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
  background: var(--primaryColor);
  border: 0 !important;
  border-radius: var(--roundedSM);
  padding: calc(var(--spaceMini) / 2) var(--spaceMini);
  text-transform:capitalize;
  font-weight: 500;
}
.fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event{
  margin-inline: var(--spaceXSM);
  margin-bottom: var(--spaceXXSM);
}

/* Apexchart */
.apexcharts-legend-text  {
  color: var(--whiteColor) !important;
  font-size: var(--textMD);
}
.apexcharts-text tspan {
  fill: var(--whiteColor) !important;
  font-size: var(--textMD);
}


.bg-main-landing, .bg-second-landing, .bg-third-landing, .bg-fourth-landing, .bg-fifth-landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.bg-main-landing, .bg-second-landing, .bg-third-landing {
  border-radius: 0 0 calc(var(--roundedJumbo)*2) calc(var(--roundedJumbo)*4);
}
.bg-main-landing {
  background: var(--primaryColor) !important;
  height: 90vh;
  z-index: 10 !important;
}
.bg-second-landing {
  background: var(--warningBG) !important;
  height: 90vh;
  top: 70vh;
  z-index: 9 !important;
}
.bg-third-landing {
  background: var(--warningDarkBG) !important;
  height: 80vh;
  top: 140vh;
  z-index: 8 !important;
}
.bg-fourth-landing {
  background: var(--shadowColor) !important;
  height: 280vh;
  top: 240vh;
  z-index: 7 !important;
}

.image-custom {
  border-radius: var(--roundedJumbo);
}
