:root {   
  /* Typography */
  --textHuge : 78px;
  --textXJumbo : 48px;
  --textJumbo : 26px;
  --textXLG : 18px;
  --textLG : 16px;
  --textXMD : 14px;
  --textMD : 13px;
  --textSM : 12px;
  --textXSM : 11px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedJumbo : 34px;
  --roundedXLG : 20px;
  --roundedLG : 18px;
  --roundedMD : 14px;
  --roundedSM : 10px;
  --roundedMini : 6px;

  /* Spacing */
  --spaceJumbo : 35px;
  --spaceXLG : 24px;
  --spaceLG : 20px;
  --spaceXMD : 16px;
  --spaceMD : 12px;
  --spaceSM : 10px;
  --spaceXSM : 8px;
  --spaceXXSM : 6px;
  --spaceMini : 4px;

  /* Table column min width */
  --tcolMinXSM : 60px;
  --tcolMinSM : 120px;
  --tcolMinMD : 140px;
  --tcolMinLG : 180px;
  --tcolMinJumbo : 240px;
  --tcolMinHuge : 360px;

  --primaryLightBG : #a698cd;
  --successBG : #009b77;
  --successDarkBG : #68baa6;
  --dangerBG : #ff5791;
  --warningBG : #ff8b68;
  --warningDarkBG : #ffc455;
  --warningLightBG : #fceddb;
  --infoBG : #0074f6;
  --infoLightBG : #0087f0;
  --hoverBG : #F2F2F2;

  --primaryColor : #6856e1;
  --blackColor : #212121;
  --darkColor : #494454;
  --whiteColor : #FFFFFF;
  --greyColor : #fcf7ff;
  --shadowColor : #f7ebff;
}
body {
  background: var(--greyColor) !important;
  font-family: 'Poppins', 'Lexend', sans-serif !important;
}
.content-grid {
  margin-inline: auto;
  padding: var(--spaceLG);
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.grid-item {
  margin-bottom: var(--spaceLG);
}
.bg-secondary {
  background: var(--darkColor) !important;
}
.bg-primary {
  background: var(--primaryColor) !important;
}

.fc-scrollgrid-sync-inner a {
  color: var(--whiteColor);
}

/* Fullcalendar */
.fc-event-title-container, .fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
  background: var(--primaryColor);
  border: 0 !important;
  border-radius: var(--roundedSM);
  padding: calc(var(--spaceMini) / 2) var(--spaceMini);
  text-transform:capitalize;
  font-weight: 500;
}
.fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event{
  margin-inline: var(--spaceXSM);
  margin-bottom: var(--spaceXXSM);
}

/* Apexchart */
.apexcharts-legend-text  {
  color: var(--whiteColor) !important;
  font-size: var(--textMD);
}
.apexcharts-text tspan {
  fill: var(--whiteColor) !important;
  font-size: var(--textMD);
}


.bg-main-landing, .bg-second-landing, .bg-third-landing, .bg-fourth-landing, .bg-fifth-landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.bg-main-landing, .bg-second-landing, .bg-third-landing {
  border-radius: 0 0 calc(var(--roundedJumbo)*2) calc(var(--roundedJumbo)*4);
}
.bg-main-landing {
  background: var(--primaryColor) !important;
  height: 90vh;
  z-index: 10 !important;
}
.bg-second-landing {
  background: var(--warningBG) !important;
  height: 90vh;
  top: 70vh;
  z-index: 9 !important;
}
.bg-third-landing {
  background: var(--warningDarkBG) !important;
  height: 80vh;
  top: 140vh;
  z-index: 8 !important;
}
.bg-fourth-landing {
  background: var(--shadowColor) !important;
  height: 280vh;
  top: 280vh;
  z-index: 7 !important;
}

.image-custom {
  border-radius: var(--roundedJumbo);
}

.bg-danger-light {
  background: #fcdbf5;
}
.bg-warning-light {
  background: var(--warningLightBG);
}
.bg-success-light {
  background: #dbfce5;
}