:root {   
  /* Typography */
  --textHuge : 78px;
  --textXJumbo : 48px;
  --textJumbo : 26px;
  --textXLG : 18px;
  --textLG : 16px;
  --textXMD : 14px;
  --textMD : 13px;
  --textSM : 12px;
  --textXSM : 11px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedJumbo : 34px;
  --roundedXLG : 20px;
  --roundedLG : 18px;
  --roundedMD : 14px;
  --roundedSM : 10px;
  --roundedMini : 6px;

  /* Spacing */
  --spaceJumbo : 35px;
  --spaceXLG : 24px;
  --spaceLG : 20px;
  --spaceXMD : 16px;
  --spaceMD : 12px;
  --spaceSM : 10px;
  --spaceXSM : 8px;
  --spaceXXSM : 6px;
  --spaceMini : 4px;

  /* Table column min width */
  --tcolMinXSM : 60px;
  --tcolMinSM : 120px;
  --tcolMinMD : 140px;
  --tcolMinLG : 180px;
  --tcolMinJumbo : 240px;
  --tcolMinHuge : 360px;

  /* Color Pallete */
  --primaryLightBG : #DEF8D6;
  --successBG : #3D9B52;
  --successDarkBG : #009B56;
  --warningBG : #FF0063;
  --warningDarkBG : #c6044e;
  --infoBG : #006CD0;
  --infoLightBG : #2e3439;
  --hoverBG : #F2F2F2;

  --primaryColor : #f9aa0c;
  --blackColor : #212121;
  --darkColor : #5B5B5B;
  --whiteColor : #FFFFFF;
  --greyColor : #C3C3C3;
  --shadowColor : #808080;
}
body {
  background: var(--blackColor) !important;
}
.content-grid {
  width: 1280px;
  margin-inline: auto;
  padding: var(--spaceXLG) 0;
}
.grid-item {
  margin-bottom: var(--spaceLG);
}
.img-profile {
  border-radius: var(--roundedCircle);
  margin-top: var(--spaceLG);
  border: var(--spaceXSM) solid var(--primaryColor);
}
.bg-secondary {
  background: var(--darkColor) !important;
}

a {
  text-decoration: none !important;
}
.fc-scrollgrid-sync-inner a {
  color: var(--whiteColor);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--primaryColor) !important;
}

.modal-content {
  border-radius: var(--roundedLG) !important;
  background: var(--blackColor) !important;
}

/* Profile */
.profile-card {
  padding: var(--spaceLG);
  margin: calc(var(--spaceJumbo) * 2) 0;
  background: var(--darkColor);
  border: 3px solid var(--whiteColor);
  max-width: 720px;
  display: block;
  margin-inline: auto;
  border-radius: var(--roundedMD);
  overflow: hidden;
	box-shadow: var(--primaryColor) 0px 7px 17.5px !important;
	transform: translatey(0px);
  rotate: -1.5deg;
	animation: float 4.5s ease-in-out infinite;
  box-sizing: border-box;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.profile-card h3{
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* Fullcalendar */
.fc-event-title-container, .fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
  background: var(--primaryColor);
  border: 0 !important;
  border-radius: var(--roundedSM);
  padding: calc(var(--spaceMini) / 2) var(--spaceMini);
  text-transform:capitalize;
  font-weight: 500;
}
.fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event{
  margin-inline: var(--spaceXSM);
  margin-bottom: var(--spaceXXSM);
}

/* Apexchart */
.apexcharts-legend-text  {
  color: var(--whiteColor) !important;
  font-size: var(--textMD);
}
.apexcharts-text tspan {
  fill: var(--whiteColor) !important;
  font-size: var(--textMD);
}