.swal2-popup, .modal-content {
    border-radius: var(--roundedMD);
    background: var(--whiteColor);
    border: calc(var(--spaceMini)/2) solid var(--primaryColor);
    color: var(--blackColor);
    border-radius: var(--roundedJumbo);
    padding: var(--spaceSM) var(--spaceXMD);
}
.swal2-confirm {
    background: var(--successBG) !important;
}
.swal2-confirm:hover {
    background: var(--successBG) !important;
}

/* .swal2-loading {
    width: 100vw;
    border: none;
    margin: none !important;
    height: 100vh;
    position: fixed;
    top:0;
    border-radius: 0;
}
.swal2-loading .swal2-loader {
    border-color: var(--primaryColor) rgba(0,0,0,0) var(--primaryColor) rgba(0,0,0,0);
    width: 20vh;
    height: 20vh;
    border-width: 12px;
} */

.custom-toast {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    border-radius: var(--roundedMD);
    border: calc(var(--spaceMini)/2) solid var(--primaryColor);
}
.custom-toast-body {
    color: var(--whiteColor);
}
.Toastify__toast-icon {
    color: var(--primaryColor); 
}
.Toastify__toast-body svg {
    fill: var(--primaryColor);
}
.Toastify__progress-bar {
    background: var(--primaryColor) !important;
}
