.text-primary {
    color: var(--primaryColor) !important;
}
.alert-warning-empty {
    background-color:rgba(249, 170, 12, 0.1);
    color: var(--whiteColor);
    text-align: center;
    border-radius: var(--roundedLG);
    padding: var(--spaceXLG);
    margin: var(--spaceXLG) 0;
}

a {
    text-decoration: none !important;
}
h1 {    
    font-size: calc(var(--spaceJumbo)*1.5) !important;
    font-weight: 800 !important;
}
h2 {
    font-size: var(--spaceJumbo) !important;
    font-weight: 700 !important;
}
h1, h2 {
    font-family: 'Lexend' !important;
}