label.input{
    float: left;
    font-size: var(--textLG);
    margin-bottom: 2px;
    font-weight: 500;
    color: var(--whiteColor);
}
label.error{
    font-size: var(--textXSM);
    color: #D5534C;
    margin: 0;
}

/* Get button tag */
.btn_tag {
    background: var(--infoBG);
    color: var(--whiteColor);
    text-decoration: none;
    padding: var(--spaceXSM) var(--spaceSM);
    margin-right: var(--spaceXXSM);
    border-radius: var(--roundedSM);
}