label.input{
    float: left;
    font-size: var(--textLG);
    margin-bottom: 2px;
    font-weight: 500;
    color: var(--whiteColor);
}
label.error{
    font-size: var(--textXSM);
    color: var(--warningBG);
    margin: 0;
}

.btn_tag, .btn_info, .btn_primary {
    text-decoration: none;
    color: var(--whiteColor);
    padding: var(--spaceXSM) var(--spaceSM);
    margin-right: var(--spaceXXSM);
    border-radius: var(--roundedMD);
}
.btn_tag {
    background: var(--infoBG);
}
.btn_info {
    background: var(--infoBG);
}
.btn_primary {
    background: var(--primaryColor);
}